.todo-container {
	h4 {
		color: #2cadc2;
		font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
	}

	h2 {
		font-weight: 300;
		    margin: 0 0 40px;
    clear: both;
    font-size: 38px;
    font-weight: 400;
    color: #404041;
	}
}