<li ng-class="{'editing': $ctrl.editing, 'completed': $ctrl.completed}">
  <div class="view" ng-dblclick="$ctrl.enableEditing()">
    <input
      class="toggle"
      type="checkbox"
      ng-checked="$ctrl.completed"
      ng-click="$ctrl.toggleTodo()">
    <label>{{$ctrl.title }}</label>
    <button class="destroy" ng-click="$ctrl.deleteTodo()"></button>
  </div>
  <form ng-submit="$ctrl.updateTodo()">
    <input type="hidden" ng-model="$ctrl.index">
    <input class="edit" ng-model="$ctrl.title">
  </form>
</li>