
.navbar-default {
	border:0;
	margin:0;
	background-color: #fff;
	padding: 14px 65px;
	min-height: 80px;

	.navbar-brand {
		// background: url('../img/logo.png') no-repeat 15px 5px;
	  background-size: 150px 47px;
	  padding: 0;
	  width: 180px;
	  height: 50px;
	}

}