.form-control {
	height: 50px;
	padding: 15px;
	font-size: 18px;
	font-weight: 300;
	border-radius: 0;
}
.todo-list {
	margin: 20px 0 0;
	padding: 0;
	list-style: none;


	li {
		position: relative;
		font-size: 24px;
		border-bottom: 1px solid #e6e6e6;
		
		.toggle {
			text-align: center;
			width: 40px;
			/* auto, since non-WebKit browsers doesn't support input styling */
			height: auto;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto 0;
			border: none; /* Mobile Safari */
			-webkit-appearance: none;
			appearance: none;
		}

		.toggle:after {
			content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
		}
		
		.toggle:checked:after {
			content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
		}

		&:last-child {
			// border-bottom: none;
		}

		&.editing {
			border-bottom: none;
			padding: 0;
			margin-left: 43px;

			.edit {
				display: block;
				width: 100%;
				padding: 12px 16px;
			}

			.view {
				display: none;
			}
		}

		&.completed label {
			color: #d9d9d9;
			text-decoration: line-through;
		}
		
		label {
			word-break: break-all;
			padding: 15px 60px 15px 15px;
			margin-left: 45px;
			display: block;
			line-height: 1.2;
			transition: color 0.4s;;
			font-size: 18px;
			font-weight: 300;
		}

		&.completed label {
			color: #d9d9d9;
			text-decoration: line-through;
		}

		.destroy {
			display: none;
			position: absolute;
			top: 0;
			right: 10px;
			bottom: 0;
			width: 40px;
			// height: 40px;
			margin: auto 0;
			font-size: 30px;
			color: #cc9a9a;
			margin-bottom: 11px;
			transition: color 0.2s ease-out;
			background:none;
			border:0;
			
			&:hover {
				color: #af5b5e;
			}

			&:after {
				content: '×';
			}
		}
		&:hover .destroy {
			display: block;
		}
		.edit {
			display: none;
		}
	}
}

.footer {
	color: #777;
	margin-top:10px;
	padding: 15px 0px;
	height: 20px;
	text-align: center;
	
	.btn-default {
		&.btn-xs {
			padding:10px;
			text-transform: uppercase;
		}
	}
}

.footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle-all,
	.todo-list li .toggle {
		background: none;
	}

	.todo-list li .toggle {
		height: 40px;
	}

	.toggle-all {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}


